<div class="container mx-auto flex flex-col">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      *ngFor="let tab of Tabs; let i = index"
      mat-tab-link
      (click)="ActiveTab = i"
      [active]="ActiveTab == i"
      [routerLink]="tab.link"
    >
      <div
        class="flex flex-nowrap items-center gap-4"
        [ngClass]="{ 'text-primary': ActiveTab == i }"
      >
        <mat-icon>{{ tab.icon }}</mat-icon>
        <span>{{ tab.text }}</span>
      </div>
    </a>
  </nav>

  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
