<nav
  mat-tab-nav-bar
  class="scrollable"
  [ngClass]="{ 'md:!hidden': tabless }"
  [tabPanel]="tabPanel"
>
  <a
    mat-tab-link
    *ngFor="let tab of Tabs"
    [routerLink]="tab.link"
    [active]="type == tab.type"
    [disabled]="tab.disable"
  >
    <div class="flex flex-nowrap items-center gap-4 text-slate-500 relative">
      <mat-icon>{{ tab.icon }}</mat-icon>
      <span>{{ tab.text }}</span>

      <span
        *ngIf="tab.disable"
        class="bg-red-500 text-white p-[0px_6px] rounded-2xl text-[8px] absolute -bottom-2 right-3"
        >بزودی</span
      >
    </div>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <ng-container [ngSwitch]="type">
    <app-card-search-flight-iran
      [expansionable]="expansionable"
      *ngSwitchCase="'flight-iran'"
    ></app-card-search-flight-iran>
    <app-card-search-flight-world
      *ngSwitchCase="'flight-world'"
    ></app-card-search-flight-world>
    <app-card-search-train *ngSwitchCase="'train'"></app-card-search-train>
    <app-card-search-bus *ngSwitchCase="'bus'"></app-card-search-bus>
    <app-card-search-hotel *ngSwitchCase="'hotel'"></app-card-search-hotel>
    <app-card-search-insurance
      *ngSwitchCase="'insurance'"
    ></app-card-search-insurance>
  </ng-container>
</mat-tab-nav-panel>
