a {
  min-width: 0 !important;
  padding: 8px 16px !important;
}

a:hover div.flex.flex-nowrap,
a.mat-tab-label-active div.flex.flex-nowrap {
  color: var(--tikban-theme-primary) !important;
}

a:hover,
a.mat-tab-label-active {
  opacity: 1 !important;
}

nav.tab-less {
  display: none !important;
}
