<div class="container mx-auto my-6 relative">
  <app-header-reserve [step]="2"></app-header-reserve>
  <br />

  <div class="grid grid-cols-12 gap-4 relative">
    <div class="flex flex-col gap-4 col-span-9">
      <app-passenger-header
        class="sticky top-0 bg-white z-10"
      ></app-passenger-header>

      <app-passenger-card
        *ngFor="let item of Reserve.Passengers; let i = index"
        [value]="item"
        [title]="TitleByType(item.type, i)"
        [selectable]="false"
        [removeable]="i != 0"
        (remove)="Reserve.RemovePassengerByIndex(i)"
      ></app-passenger-card>
    </div>

    <app-card-reserve
      [type]="Result.Type"
      [selected]="Result.Selected"
      (change)="Back()"
      (submit)="Submit()"
      class="col-span-3 sticky top-8 h-fit"
    ></app-card-reserve>
  </div>
</div>
