.bordered {
  background-image: linear-gradient(
    to right,
    #cbd5e1 60%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 12px 2px;
  background-repeat: repeat-x;
}
