<app-container>
  <mat-toolbar [ngClass]="{ '!hidden': hidden }" class="!bg-transparent">
    <mat-toolbar-row class="gap-2">
      <button
        class="md:!hidden"
        mat-icon-button
        (click)="OpenedSidenav = !OpenedSidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" class="h-[48px] -md:mx-auto">
        <picture>
          <img
            class="w-full h-full object-contains"
            src="/assets/images/logo.png"
            alt="لوگوی راهینه"
          />
        </picture>
      </a>

      <div class="w-[2px] h-[24px] bg-slate-200 mx-2 -md:hidden"></div>

      <div class="flex flex-nowrap items-center md:gap-3 lg:gap-6 -md:hidden">
        <a
          *ngFor="let item of HeaderLinks"
          [routerLink]="item.href"
          class="text-sm !text-slate-500 hover:!text-primary"
        >
          {{ item.text }}
        </a>
      </div>

      <div class="flex-1"></div>

      <a class="-md:!hidden" href="tel://0283311" mat-button>
        <span class="mt-1">0283311</span>
        <mat-icon class="mr-3">phone</mat-icon>
      </a>

      <div class="w-[2px] h-[24px] bg-slate-200 mx-2 -md:hidden"></div>

      <a class="-md:!hidden" routerLink="/auth" mat-flat-button color="accent">
        ورود یا ثبت نام
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</app-container>

<div
  *ngIf="OpenedSidenav == true"
  class="fixed inset-0 bg-black/10 z-30"
  (click)="OpenedSidenav = false"
></div>

<mat-sidenav
  mode="side"
  class="min-w-[300px] !z-30 !shadow-none !border-l !fixed"
  [opened]="OpenedSidenav"
>
  <div class="flex flex-col h-full">
    <mat-list>
      <a
        *ngFor="let item of SearchTabs"
        [routerLink]="item.link"
        (click)="OpenedSidenav = false"
        mat-ripple
        mat-list-item
        class="opacity-70"
        [ngClass]="{
          '!opacity-100 bg-accent/10 !text-accent': item.type == Result.Type
        }"
      >
        <mat-icon class="ml-4">{{ item.icon }}</mat-icon>
        <span class="text-sm">{{ item.text }}</span>
      </a>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <a
        *ngFor="let item of HeaderSidenavItems"
        [routerLink]="item.link"
        (click)="OpenedSidenav = false"
        mat-ripple
        mat-list-item
        class="opacity-70"
      >
        <mat-icon class="ml-4">{{ item.icon }}</mat-icon>
        <span class="text-sm">{{ item.text }}</span>
      </a>
    </mat-list>

    <div class="flex flex-col p-2 mt-auto text-xs opacity-70">
      <span>نسخه 0.0.0</span>
      <p>تمامی حقوق محفوظ است</p>
    </div>
  </div>
</mat-sidenav>
