<mat-toolbar [ngClass]="{ '!hidden': hidden }" class="!bg-transparent">
  <mat-toolbar-row class="container mx-auto gap-2">
    <a routerLink="/" class="h-[42px]">
      <picture>
        <img
          class="w-full h-full object-contains"
          src="/assets/images/logo.png"
          alt="لوگوی راهینه"
        />
      </picture>
    </a>

    <div class="w-[2px] h-[24px] bg-slate-200 mx-2"></div>

    <div class="flex flex-nowrap items-center gap-2">
      <a
        *ngFor="let item of HeaderLinks"
        [routerLink]="item.href"
        class="mat-button !text-slate-500 hover:!text-primary"
      >
        {{ item.text }}
      </a>
    </div>

    <div class="flex-1"></div>

    <a routerLink="/auth" mat-stroked-button>ورود یا ثبت نام</a>

    <a href="tel://0213311" mat-flat-button color="accent">
      <span class="mt-1">0213311</span>
      <mat-icon class="mr-3">phone</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
