.mat-tab-label-active {
  opacity: 1 !important;
}

nav.scrollable {
  overflow-y: hidden;
  overflow-x: auto;

  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  .mat-tab-header-pagination {
    display: none !important;
  }

  .mat-tab-link-container {
    overflow: unset !important;
  }

  &::-webkit-scrollbar {
    opacity: 0 !important;
    height: 0 !important;
  }
}
