<div class="-md:mx-4 md:container md:mx-auto my-6 relative flex flex-col gap-4">
  <app-header-reserve [step]="3"></app-header-reserve>

  <div class="-lg:flex -lg:flex-col lg:grid lg:grid-cols-12 gap-4 relative">
    <div class="flex flex-col gap-4 col-span-9">
      <app-reserve-information></app-reserve-information>

      <app-reserve-description></app-reserve-description>
    </div>

    <app-card-reserve
      [type]="Result.Type"
      [selected]="Result.Selected"
      [submitText]="'تایید و پرداخت'"
      (change)="Back()"
      (submit)="Submit()"
      [disabled]="Loading"
      class="col-span-3 sticky top-8 h-fit -lg:w-full"
    ></app-card-reserve>
  </div>
</div>
