<mat-card class="border">
  <div class="flex flex-col gap-4">
    <!-- <ng-container *ngIf="selected">
      <div
        *ngFor="let item of selected.ways"
        class="flex flex-nowrap items-center gap-2"
      >
        <div class="flex flex-col items-center gap-1 min-w-fit">
          <img
            [src]="item.image"
            [alt]="item.title"
            width="40px"
            height="40px"
            class="min-w-[40px] h-[40px]"
          />

          <span class="text-xs opacity-70">{{ item.title }}</span>
        </div>

        <div class="flex flex-col gap-1">
          <span>{{ item.fromText }}</span>
          <span class="opacity-70">{{ item.start }}</span>
        </div>

        <div
          class="flex flex-nowrap items-center justify-center relative px-4 w-full"
        >
          <div class="h-[2px] w-full bg-slate-200 absolute"></div>

          <div class="flex flex-col items-center text-slate-400 z-[1] w-full">
            <div
              *ngIf="item.stops.length != 0"
              class="flex flex-nowrap mb-1 mt-2 z-[1] w-full"
            >
              <div
                *ngFor="let stop of item.stops"
                class="flex flex-col items-center mx-auto"
              >
                <span class="text-xs uppercase opacity-70">{{ stop }}</span>
                <span
                  class="block w-[12px] h-[12px] bg-white border-2 border-slate-200 rounded-full -mb-1"
                ></span>
              </div>
            </div>
            <span class="text-xs bg-white p-1">{{ item.duration }}</span>
          </div>
        </div>

        <div class="flex flex-col text-left gap-1">
          <span>{{ item.toText }}</span>
          <span class="opacity-70">{{ item.end }}</span>
        </div>
      </div>
    </ng-container> -->
  </div>

  <div class="bg-black/10 h-[1px] my-4 -mx-4"></div>
  <span class="font-bold">تعداد بلیط</span>
  <ng-container *ngFor="let item of GetPricesList()">
    <div
      *ngIf="item.count != 0"
      class="flex flex-nowrap items-center gap-2 my-2"
    >
      <span class="ml-auto">{{ item.text }}</span>
      <span class="w-[20px] opacity-70">{{ item.count }} ×</span>
      <span class="opacity-70">{{ item.price | format: "price" }} تومان</span>
    </div>
  </ng-container>

  <div class="flex flex-nowrap items-center gap-2 mt-6 mb-2">
    <span class="ml-auto">مبلغ قابل پرداخت</span>
    <span class="text-accent">
      {{ GetTotalPrice() | format: "price" }} تومان
    </span>
  </div>

  <br />

  <div class="flex flex-nowrap items-center gap-2">
    <button
      (click)="change.emit()"
      mat-stroked-button
      color="accent"
      class="!min-w-[100px]"
    >
      تغییر بلیط
    </button>
    <button
      (click)="submit.emit()"
      mat-flat-button
      color="primary"
      class="w-full"
    >
      {{ submitText }}
    </button>
  </div>
</mat-card>
