<mat-card class="border">
  <div class="flex flex-col gap-4"></div>

  <div class="bg-black/10 h-[1px] my-4 -mx-4"></div>
  <span class="font-bold">تعداد بلیط</span>
  <ng-container *ngFor="let item of GetPricesList()">
    <div
      *ngIf="item.count != 0"
      class="flex flex-nowrap items-center gap-2 my-2"
    >
      <span class="ml-auto">{{ item.text }}</span>
      <span class="w-[20px] opacity-70">{{ item.count }} ×</span>
      <span class="opacity-70">{{ item.price | format: "price" }} تومان</span>
    </div>
  </ng-container>

  <div class="flex flex-nowrap items-center gap-2 mt-6 mb-2">
    <span class="ml-auto">مبلغ قابل پرداخت</span>
    <span class="text-accent">
      {{ GetTotalPrice() | format: "price" }} تومان
    </span>
  </div>

  <br />

  <div class="flex flex-nowrap items-center gap-2">
    <button
      (click)="change.emit()"
      mat-stroked-button
      color="accent"
      class="!min-w-[100px]"
    >
      تغییر بلیط
    </button>
    <button
      (click)="submit.emit()"
      mat-flat-button
      color="primary"
      class="w-full"
    >
      {{ submitText }}
    </button>
  </div>
</mat-card>
