[matBreadcrumb],
[mat-breadcrumb] {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;

  &[mat-breadcrumb-active],
  &[matBreadcrumbActive] {
    cursor: pointer;
  }

  div.flex.flex-nowrap.items-center {
    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}
